@import "../mixins.scss";

.field {
  &_type {
    &_row {
      @include flex-column(1.5rem);
    }
  }
  &__list {
    @include flex-row(1rem);

    &_gap {
      &_md {
        gap: 1.75rem;
      }
      &_lg {
        gap: 3rem;
      }
    }
  }

  &__item {
    @include flex-column(0.75rem);
    flex: 1 0;
  }

  &__title {
    @include h6;
  }

  &__value {
    @include text-secondary;
  }
}
