@import "../../../scss/variables.scss";
@import "../../../scss/mixins.scss";

.footer-menu {
  gap: 2rem;

  &__link {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;

    &_type {
      &_button {
        padding: 0.75rem 1.5rem;
        border-radius: 0.5rem;
        background-color: $lightBlueAlt;
        color: $blue;
        font-weight: 500;
        font-size: 0.875rem;
        @include transition(background-color);

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
