@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.user-nav {
  &__inner {
    position: relative;
    width: 169px;
  }

  &__panel {
    cursor: pointer;
  }

  &__panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__info {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__img {
    border-radius: 0.5rem;
  }

  &__title {
    font-family: $gothamPro;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
  }

  &__toggler {
    @include transition(transform);

    &_active {
      transform: rotateZ(180deg);
    }
  }

  &__dropdown {
    width: 100%;
    height: 180px;
    transform: translateY(-0.5rem);
    border: 1px $borderColor solid;
    border-radius: 0.75rem;
    box-shadow: 0px 0px 6px 0px $lightGreyBlue;
    position: absolute;
    top: 100%;
    z-index: -10;
    background-color: #fff;
    @include transition(all, 0.5s);
    transition-delay: 0.15s;
    visibility: hidden;
    opacity: 0;

    &_active {
      z-index: 10;
      transform: translateY(0.75rem);
      visibility: visible;
      opacity: 1;
    }
  }
}
