@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.main-nav {
  border-bottom: 1px $borderColor solid;

  &__inner {
    padding: 0.75rem 1.5rem;
  }

  &__row {
    @include flex-row(1rem);
    align-items: center;
  }
}
