//grid
$wrapSize: 1600px;

//fonts
$gotham: "Gotham", sans-serif;
$gothamPro: "Gotham Pro", sans-serif;

//colors
$textColor: #071435;
$attentionColor: #ff3d71;
$grey: #828ead;
$lightGrey: #e1e5eb;
$lightGreyAlt: #f2f5f9;
$borderColor: #e2e4f0;
$lightGreyBlue: #bac4e0;
$greyCopyrights: #8f9bb3;
$blue: #1551e5;
$lightBlue: #316cff;
$lightBlueAlt: #f2f6ff;
